<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img
          src="https://i.imgflip.com/4ndpo6.png"
          class="my-3"
          contain
          height="200"
        />
      </v-col>

      <v-col class="mb-4">
        <p class="subheading font-weight-regular">
          Login to Juan. platform.
        </p>
      </v-col>
    </v-row>
    <v-row class="text-center">
      <v-col cols="5" class="ma-auto text-center">
        <v-text-field
          label="Username"
          outlined
          :rules="[rules.required]"
          v-model="username"
        ></v-text-field>
        <v-text-field
          v-model="password"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="[rules.required, rules.min]"
          :type="showPassword ? 'text' : 'password'"
          label="Password"
          hint="At least 8 characters"
          counter
          outlined
          @click:append="showPassword = !showPassword"
        ></v-text-field>
        <v-btn elevation="2" outlined raised @click="submit()">
          Login
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import loginService from "../plugins/axios";

export default {
  data: () => ({
    showPassword: "",
    password: "",
    username: "",
    rules: {
      required: (value) => !!value || "Required.",
      min: (v) => v.length >= 8 || "Min 8 characters",
    },
    usernameRules: {
      required: (value) => !!value || "Required.",
    },
  }),
  methods: {
    submit() {
      console.log({ password: this.password, username: this.username });
      console.log(process.env.VUE_APP_URLAOO);
      loginService
        .post("", {
          password: this.password,
          username: this.username,
        })
        .then((response) => console.log(response.data));
    },
  },
};
</script>
